/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.resume-builder {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label, input, textarea {
    margin-bottom: 10px;
    
}
input{
    height: 30px;
    border-radius: 5px;
    border: 0.3px solid black;
}
#education, #experience, #hobbies,  #projects, #activities{
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.resume-output {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
